html(ng-app="App")
  head
    script(src="/vendor/angular/angular.js")
    script(src="/js/app.js")
    link(rel='stylesheet' type='text/css' href='/vendor/semantic-ui/dist/semantic.css')
  body
    .ui.inverted.main.menu.attached
      .right.menu
      .right.menu
        a.item(href='#') Comunidades
        a.item(href='#') Empresas
        a.item(href='#') Eventos
        a.item(href='#') FAQ
        a.item(href='#') Contacto

    block content
