html(ng-app="App")
  head
    script(src="/vendor/angular/angular.js")
    script(src="/js/app.js")
    link(rel='stylesheet' type='text/css' href='/vendor/semantic-ui/dist/semantic.css')
  body
    block content
